.published-toggle {
    .react-toggle-track {
        width: 26px;
        height: 12px;
    }

    .react-toggle-thumb {
        width: 10px;
        height: 10px;
    }
}

.react-toggle--checked .react-toggle-thumb {
    left: 14px;
}

.post-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 61%;
    z-index: 1051;
}
.media-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1051;
}

.post-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 68, 68, 0.7);
    z-index: 1050;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
}

:global .react-autosuggest__container {
    position: relative;
}

:global .react-autosuggest__input {
    width: 240px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

:global .react-autosuggest__input--focused {
    outline: none;
}

:global .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

:global .react-autosuggest__suggestions-container {
    display: none;
}

:global .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 10;
    width: 240px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    /* font-weight: 300; */
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

:global .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:global .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

:global .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
